.blog {
  padding-top: 60px;

  &__headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__link-view {
    font-size: 16px;
    line-height: 20px;
    @extend %dmsans-700;
    color: #262626;
    padding-right: 24px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 11px;
      background-image: url('../../images/icons/blog-arrow.svg');
      right: 0;
      top: 4px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }
}

.article {
  width: 370px;
  background-color: #fff;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &__box {
    padding: 34px 28px 18px;
    margin-bottom: auto;
  }

  &__inner {
    position: relative;
    max-width: 370px;
  }

  &__img {
    margin: 0 auto;
    height: 250px;
    object-fit: cover;
  }

  &__news {
    width: 104px;
    border-radius: 30px;
    padding: 6px 30px;
    color: #fff;
    background-color: #a3bbc8;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    left: 28px;
    bottom: -18px;
  }

  &__descr {
    width: 290px;
    font-size: 18px;
    line-height: 20px;
    @extend %dmsans-500;
    overflow: hidden;
    text-overflow: clip;
  }

  &__info {
    padding: 20px 0;
    margin: 0 28px;
    border-top: 1px solid #e0e0e0;
    display: flex;
  }

  &__date {
    font-size: 12px;
    @extend %dmsans-500;
    text-transform: uppercase;
    margin-right: 30px;
    padding-left: 20px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      background-image: url('../../images/icons/calendar.svg');
      background-repeat: no-repeat;
      left: 0;
      top: 5px;
    }
  }

  &__author {
    font-size: 12px;
    @extend %dmsans-500;
    text-transform: uppercase;
    color: #222933;
    padding-left: 20px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background-image: url('../../images/icons/user-blog.svg');
      background-repeat: no-repeat;
      left: 0;
      top: 7px;
    }
  }
}

.partners {
  padding: 94px 0 0;
  background-color: #fef7f0;
  margin-top: -177px;
  padding: 264px 0 84px;

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
  }
}