.product {
  padding: 70px 0 80px;
  text-align: center;

  &__btn:not(:last-child) {
    margin-right: 16px;
  }

  .mixitup-control-active {
    color: #1a1a1a;
  }

  &__filter {
    margin-bottom: 74px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
  }
}

.product-item {
  display: flex;
  flex-direction: column;
  text-align: center;

  &.product-item--list {
    width: 100%;
    text-align: left;

    .product-item__img-box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 500px;
      width: 100%;
      padding: 0;
      box-shadow: none;
      border-radius: 0;
    }

    .product-item__img-block {
      width: 370px;
      height: 500px;
      border: 3px solid #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 60px;
    }

    .product-item__wrapper-box {
      padding: 80px 10px 70px 0;
    }

    .product-item__images {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
      max-width: 370px;
      height: 500px;
    }

    .product-item__link-box {
      display: none;
    }

    .product-item__title {
      font-size: 36px;
      line-height: 40px;
      @extend %rubik-400;
      color: #333;
      margin-bottom: 20px;
    }

    .star {
      display: block;
      margin-bottom: 30px;
      padding: 0;
    }

    .product-item__price {
      display: block;
      font-size: 30px;
      line-height: 45px;
      @extend %rubik-400;
      color: #333;
      margin-bottom: 30px;
    }

    .product-item__content-box {
      display: block;
    }

    .product-item__text {
      font-size: 16px;
      line-height: 30px;
      @extend %rubik-400;
      color: $filter;
      margin-bottom: 30px;
    }

    .product-item__btn {
      padding: 10px 50px;
      font-size: 16px;
      line-height: 30px;
      @extend %rubik-400;
      color: #fff;
      background-color: #a3bbc8;
      text-transform: uppercase;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  &__images {
    margin: 0 auto;
    margin-bottom: 70px;
    height: 190px;
    object-fit: contain;
  }

  &__img-box {
    position: relative;
    width: 270px;
    height: 370px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    padding: 30px 20px;
    margin-bottom: 20px;
    overflow: hidden;

    &:hover {
      .product-item__link-box {
        transform: translateY(-10%);
      }
    }
  }

  .star {
    display: none;
  }

  &__content-box {
    display: none;
  }

  &__link-box {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(450%);
    transition: transform .5s;
  }

  &__link {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;

    &:hover {
      background-color: #a3bac7;

      path {
        fill: #fff;
      }
    }

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 40px;
    @extend %dmsans-500;
    color: #243f4d;
    display: block;
  }

  &__price {
    font-size: 16px;
    line-height: 20px;
    @extend %dmsans-700;
    color: #a3bbc8;
  }
}

.special-product {

  padding: 120px 0 60px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }


  &__block {
    width: 870px;
    height: 390px;
    background-color: #feefe2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__images {
    margin-right: 30px;
    transform: translateY(-90px);
  }

  &__title {
    width: 270px;
    height: 54px;
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    margin-bottom: 22px;
  }

  &__descr {
    width: 330px;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 30px;
  }


  &__link--transparent {
    width: 180px;
    color: #436372;
    background-color: transparent;
    border: 1px solid #436372;
    border-radius: 5px;

    &::after {
      background: url('../images/right-view.png');
    }
  }
}